<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets' method="post">

    <h4>Create a New Tweet</h4>

    <p>Content: <input type="text" name="content"><br></p>

    <p>Create Your Tweet: <input type="submit" name="submit" id="submit"></p>

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
